@font-face {
    font-family: Coolvetica;
    src: url('/fonts/coolvetica_rg-webfont.woff2') format("woff2"),
        url('/fonts/coolvetica_rg-webfont.woff') format('woff');
    font-display: swap;
}