.section {
    padding: 0rem;
    position: relative;
    display: grid;
    justify-content: center;

}

.section .section-wrapper {
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: var(--color-8);
    /* border: dashed 2px var(--color-2); */
    border-radius: var(--border-radius-1);
}

.section .section-video-wrapper {
    width: 600px;
}

.section h1 {
    font-weight: 400;
    font-size: 3.5rem;
}

@media screen and (max-width: 520px) {
    .section h1 {
        font-size: 3rem;
    }

}